body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}
header nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}

/* Hero Section */

.hero {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.hero-content h1 {
    font-size: 5rem;
}
.hero-content p {
    font-size: 3rem;
    margin: 20px 0;
}
.cta-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

/* About Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f0efef;
}

.about h2 {
    font-size: 3rem;
}

.about p {
    font-size: 1.5rem;
    color: #555;
}

/* Skills Section */
.skills {
    padding: 50px 20px;
    text-align: center;
}

.skills h2 {
    font-size: 2.5rem;
}

.skill-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-item {
    padding: 20px;
    background-color: #f0efef;
    border-radius: 10px;
    width: 25%;
}

/* Projects Section */
.projects {
    padding: 50px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
}

.project-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    padding: 20px;
    background-color: #f0efef;
    border-radius: 10px;
    width: 25%;
}